section {
    display: block;
    min-height: 75vh;
}

.wrap .investigate {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.selection {
    width: 500px;
    display: inline;
    margin: 0 auto;
}

.over-3 {
    width: 700px;
}

.selection-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.selection-form input+label {
    margin: 25px 0;
    display: inline-block;
    border: 1px solid #91c5bf;
    border-radius: 10px;
    height: 35px;
    width: 200px;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    background-color: #fff;
    color: #333;
    transition: all 0.5s ease-in-out;
}

.selection-form input+label:hover {
    background-color: #91c5bf;
    color: #fff;
}

.selection-form input:checked+label {
    background-color: #91c5bf;
    color: #fff;
}

.selection-form input[type=radio] {
    display: none;
}

.selection-form input[type=checkbox] {
    display: none;
}

.submit {
    margin: 30px auto 50px;
    border-radius: 10px;
    display: inline-block;
    border: 2px solid #91c5bf;
    background-color: #fff;
    text-align: center;
    font-weight: 900;
    color: #333;
    width: 300px;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    transition: background 0.5s ease-in-out,
        color 0.5s ease-in-out;
}

.submit:hover {
    background-color: #91c5bf;
    color: #fff;
}

.selection p {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    color: #333;
    padding-top: 30px;
}

/* login */

.login {
    display: flex;
    width: 25vw;
    height: 40vh;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    font-size: 20px;
    padding: 50px 70px;
    border: 1px solid #91c5bf;
    border-radius: 20px;
    position: relative;
    top: 70px;
    box-shadow: 0px 0px 15px 1px #91c5bf;
}

.login div {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login input {
    border: 1px solid #91c5bf;
    border-radius: 5px;
    width: 80%;
    padding: 3px;
}

.login .submit {
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
}

.login span {
    display: inline-block;
    font-weight: 900;
    text-align: center;
    width: 10%;
}

/* result */

.wrap h1 {
    text-align: center;
    font-weight: 900;
    padding: 70px 0 50px;
    font-size: 30px;
}

.chunkWrapper {
    margin: 0 auto;
    max-width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.productWrapper {
    width: calc(33.33% - 30px);
    height: 300px;
    border-radius: 4px;
    flex-grow: 1;
    border: 1px solid #91c5bf;
    border-radius: 5px;
    font-size: 0.80rem;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 0 10px 1px #91c5bf;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imgBox {
    height: 210px;
    width: 80%;
    align-self: center;
}

.imgBox img {
    max-height: 100%;
    max-width: 100%;
}

.productText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.productName {
    font-weight: bold;
    font-size: 20px;

}

.productExp {
    margin-top: 10px;
    height: 30px;
}

body>.resultWrap {
    margin-left: 0;
    margin-right: 15vw;
    min-height: 75vh;
}

/* filter */

.filter-box {
    position: fixed;
    width: 18vw;
    /* height : 100px; */
    border: #91c5bf 1px solid;
    box-shadow: 0 0 10px 1px #91c5bf;
    border-radius: 10px;
    right: 8vw;
    top: 14vh;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.filter-box .filter-button {
    font-size: 18px;
    width: 8vw;
    height: 45px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.filter-box legend {
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    width: 50px;
}

.filter-box .selection-form {
    margin: 20px auto 0;
    align-items: center;
    justify-content: flex-start;
}

.filter-box .filter-check {
    margin: 0;
    width: 70px;
    line-height: 35px;
    font-weight: 400;
}

.filter-box legend,
.filter-box .filter-check {
    margin-left: 15px;
}

.multiple {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 185px;
    margin: 0;
    padding: 0;
}

.multiple input[type="checkbox"],
.multiple label.filter-check {
    margin-left: 20px;
}

.selection-form .over-2 input+label {
    margin-top: 10px;
}
